# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Others
*.log
*.vs/

